<header>
    <div class="overlay">
        <div class="row">
            <div class="col-md-6 mt-5">
                <h1>Happy childhood memories start here</h1>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vero nostrum quis, odio veniam itaque ullam
                    debitis qui magnam consequatur ab. Vero nostrum quis, odio veniam itaque ullam debitis qui magnam
                    consequatur ab.</p>
                <br>
            </div>
            <div class="col-md-6">
                <img src="../../assets/images/3babies.png" class="babies-img" alt="">
            </div>
        </div>

    </div>
</header>

<div class="row mt-3 mx-2 justify-content-center ">
    <div class="col-md-2 col-sm-6 mx-3 my-2">
        <div class="card blue-border">
            <div class="card-body text-center">
                <i class="far fa-clock fa-4x pt-4 card-text "></i>
                <p class="card-text mx-3 my-3 ">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Distinctio illo delectus dicta unde repellat exercitationem soluta sit, assumenda repellendus facilis veritatis labore natus fugit dolor rerum obcaecati reiciendis maxime totam.</p>
            </div>
        </div>
    </div>
    
    <div class="col-md-2 col-sm-6 mx-2 my-2">
        <div class="card blue-border">
            <div class="card-body text-center">
                <i class="fas fa-baby fa-4x pt-4 card-text "></i>
                <p class="card-text mx-3 my-3">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Distinctio illo delectus dicta unde repellat exercitationem soluta sit, assumenda repellendus facilis veritatis labore natus fugit dolor rerum obcaecati reiciendis maxime totam.</p>
            </div>
        </div>
    </div>

    <div class="col-md-2 col-sm-6 mx-2 my-2">
        <div class="card blue-border">
            <div class="card-body text-center">
                <i class="fas fa-baby-carriage fa-4x pt-4 card-text"></i>
                <p class="card-text mx-3 my-3">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Distinctio illo delectus dicta unde repellat exercitationem soluta sit, assumenda repellendus facilis veritatis labore natus fugit dolor rerum obcaecati reiciendis maxime totam.</p>
            </div>
        </div>
    </div>

    <div class="col-md-2 col-sm-6 mx-2 my-2">
        <div class="card blue-border">
            <div class="card-body text-center">
                <i class="fas fa-gamepad fa-4x pt-4 card-text"></i>
                <p class="card-text mx-3 my-3">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Distinctio illo delectus dicta unde repellat exercitationem soluta sit, assumenda repellendus facilis veritatis labore natus fugit dolor rerum obcaecati reiciendis maxime totam.</p>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12 col-sm-12">
        <img src="../../assets/images/baby-ground.gif" class="baby-ground">
    </div>
</div>
    
<div class="row ">
    <div class="col-sm-12 col-md-12">
        <p class="quote-text  w-75 px-5 mt-5 text-center"> 
            "When you're babysitting a kid, all you're seeing is a version of them, a small dosage."
        </p> 
        <p class="author-name">- J. B. Smoove -</p>
    </div>
</div>

<div class="row">
    <div class="col-sm-4 col-md-4">
        <img src="../../assets/images/family.png" class="family-pic">
    </div>
    <div class="col-sm-6 col-md-6">
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <h2 class="sub-title mt-3">We care Always</h2>
                <p class="mx-5 my-3 sub-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facere unde nam, magnam tenetur maxime exercitationem. Ex reprehenderit aliquam quia nostrum nam repellat porro ratione eaque exercitationem? Inventore culpa iusto at.</p>
                <p class="mx-5 my-3 sub-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facere unde nam, magnam tenetur maxime exercitationem. Ex reprehenderit aliquam quia nostrum nam repellat porro ratione eaque exercitationem? Inventore culpa iusto at.</p>
                <p class="mx-5 my-3 sub-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facere unde nam, magnam tenetur maxime exercitationem. Ex reprehenderit aliquam quia nostrum nam repellat porro ratione eaque exercitationem? Inventore culpa iusto at.</p>
            </div>
        </div>
    </div>    
</div>

<app-footer></app-footer>




